# 1. In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
*       --> This is a mathematical operator use to multiple (expression)
'hello' --> This is a string (value)
-87.8   --> This is an integer (value)
-       --> This is a mathematical operator use to substract (expression)
/       --> This is a mathematical operator use to divide (expression)
+       --> This is a mathematical operator use to add (expression)
6       --> This is an integer (value)

# 2. What is the difference between string and variable?

In [ ]:
String is a value i.e representing a text

Variable is a name that can refer to any value

for example:

A = "Akshay" 
Here "Akshay" is string
where A is a variable

# 3. Describe three different data types.

In [18]:
Variables can store data of different types, and different types can do different things

Lists,Sets and Tuple are used to store multiple items in a single variable.

List items are ordered, changeable, and allow duplicate values.
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Ex.    list = x = [1,'a',1.0, True, 4+5j]

Set items are unordered, unchangeable, and do not allow duplicate values.
The items in a set do not have a defined order.
We cannot change the items after the set has been created.

Ex.    set = x1 = {1,'a',1.0, True, 4+5j}
    
Tuple items are ordered, unchangeable, and allow duplicate values.
The items have a defined order, and that order will not change.
We cannot change, add or remove items after the tuple has been created.    

Ex.    tuple = x2 = (1,'a',1.0, True, 4+5j)

# 4. What is an expression made up of? What do all expressions do?

In [ ]:
Expression is made up of values and operator. All expressions evaluate into single value.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
A statement is something that does something. An expression is something that evaluates to some value
print("Hello World") is a statement where
5 + 3 is an expression

# 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

In [ ]:
Ans. will be 23

In [34]:
bacon = 22

bacon + 1

23

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

In [19]:
'spam' + 'spamspam'

'spamspamspam'

In [20]:
'spam' * 3

'spamspamspam'

In [ ]:
The end result will be same of both two terms

# 8. Why is eggs a valid variable name while 100 is invalid?

In [32]:
eggs = 100

In [33]:
100 = eggs

SyntaxError: cannot assign to literal (Temp/ipykernel_24280/118181846.py, line 1)

In [ ]:
Because integers cannot use to assign to literal

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [27]:
int() is used to get integer value
float() is used to get floating value
str() is used to get str value

SyntaxError: invalid syntax (Temp/ipykernel_24280/2036272878.py, line 1)

In [29]:
a = 10.0
type(int(a))

int

In [30]:
type(a)

float

In [31]:
type(str(a))

str

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

In [ ]:
'I have eaten' is string 
99 is integer
'burritos' is string

Concatenation operation is always done between string-string and int-int 
To fix this issue:

We need to convert 99 into string 

'I have eaten' + '99' + 'burritos'

In [23]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [35]:
'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'